<!DOCTYPE html>
<html>
  <head>
    <title>GoldsmidHouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header class="w-full py-4 bg-blue-100 shadow-md">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <div class="flex-1"></div> <!-- Left empty column -->
      <div class="flex-1 flex justify-center">
        <!-- Center column with links -->
        <a href="https://www.linkedin.com" class="mx-2 text-red-800 hover:text-blue-800 mr-5">LinkedIn</a>
        <a href="https://www.github.com" class="mx-2 text-red-800 hover:text-black ml-5 mr-5">GitHub</a>
        <a href="https://www.twitter.com" class="mx-2 text-red-800 hover:text-blue-600 ml-5">Twitter</a>
      </div>
      <div class="flex-1"></div> <!-- Right empty column -->
    </div>
  </header>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
